@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/c3.css" rel="stylesheet" type="text/css">

<div id="chart"></div>

@section scripts
{
	<script src="~/js/d3.js" type="text/javascript"></script>
	<script src="~/js/c3.js" type="text/javascript"></script>

	<script type="text/javascript">
		var chart = c3.generate({
			data: {
				x: 'date',
				columns: [
					['date', '2014-01-01', '2014-01-10', '2014-01-20', '2014-01-30', '2014-02-01', '2014-02-11', '2014-02-12', '2014-02-20', '2014-02-30', '2014-03-01'],
					['TEMPERATURE', 30, 200, 100, 400, 150, 250, 30, 200, 100, 400, 150, 250, 30, 200, 100, 400, 150, 250],
					['TEMP_IN', 200, 100, 400, 150, 250, 30, 200, 100, 400, 150, 250, 30, 200, 100, 400, 150, 250, 30],
					['TEMP_HEAT', 250, 30, 200, 100, 400, 150, 250, 30, 200, 100, 400, 150, 250, 30, 200, 100, 400, 150]
				]
			},
			axis: {
				x: {
					type: 'timeseries',
					tick: {
						format: '%Y-%m-%d'
					}
				}
			},
			/*regions: [
				{ start: '2014-01-05', end: '2014-01-10' },
				{ start: new Date('2014/01/15'), end: new Date('20 Jan 2014') },
				{ start: 1390575600000, end: 1391007600000 }, // start => 2014-01-25 00:00:00, end => 2014-01-30 00:00:00
				{ start: 1390575600000, end: 1391007600000 } // start => 2014-01-25 00:00:00, end => 2014-01-30 00:00:00
			]*/
		});

		/*setTimeout(function () {
			chart.load({
				url: '/api/values'
			});
		}, 1000);*/

		setTimeout(function () {
			chart.load({
				columns: [
					['data1', 30, 200, 100, 400, 150, 250],
					['data2', 130, 340, 200, 500, 250, 350],
					['data3', 400, 500, 450, 700, 600, 500]
				]
			});
		}, 1000);

	</script>
	
}
