@{
    ViewData["Title"] = "Home Page";
}

<style>
	.axis {
		font: 10px monospace;
	}

	.axis path {
		stroke-opacity: 0.2;
	}

	.axis .tick {
		stroke-opacity: 0.6;
	}

	.axis .tick-ext {
		stroke: #000;
		stroke-opacity: 0.1;
	}

	.line {
		fill: none;
		stroke-width: 1.4px;
		cursor: pointer;
	}

	.area {
		fill-opacity: 0.4;
		cursor: pointer;
	}

	.overlay {
		fill: none;
		pointer-events: all;
		/*fill: red;
		fill-opacity: 0.05;*/
	}

	.focus-line line {
		stroke: #000;
		stroke-opacity: 0.4;
	}

	.focus circle {
		fill: white;
		stroke-width: 1.4px;
	}

	.focus-line text, .focus text {
		background: white;
		font: 11px monospace;
	}
</style>

Data for
<a href="/?h=1">1</a>,
<a href="/?h=2">2</a>,
<a href="/?h=4">4</a>,
<a href="/?h=8">8</a>,
<a href="/?h=12">12</a>,
<a href="/?h=24">24</a>,
<a href="/?h=48">48</a>,
<a href="/?h=96">96</a> hours
<br />

<svg width="1100" height="320"></svg>

@section scripts
{
	<script src="//d3js.org/d3.v4.min.js"></script>

	<script>

		function getParameterByName(name, url) {
			if (!url) {
				url = window.location.href;
			}
			name = name.replace(/[\[\]]/g, "\\$&");
			var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
				results = regex.exec(url);
			if (!results) return null;
			if (!results[2]) return '';
			return decodeURIComponent(results[2].replace(/\+/g, " "));
		}

		function getDataUrl() {
			var d = getParameterByName('d') || '1',
				h = getParameterByName('h') || '1';
			return '/api/values?deviceId=' + d + '&h=' + h + '&t=' + new Date().getTime();
		}

		(function (d3) {
			var svg = d3.select("svg"),
				margin = { top: 20, right: 60, bottom: 20, left: 20 },
				width = svg.attr("width") - margin.left - margin.right,
				height = svg.attr("height") - margin.top - margin.bottom,
				g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

			var options = {
				alwaysShowZero: true
			};

			var formatDateTime = d3.timeFormat("%x %X"),
				formatTime = d3.timeFormat("%X"),
				formatValue = d3.format(",.2f"),
				bisectDate = d3.bisector(function (d) { return d.period; }).left;

			// var parseTime = d3.timeParse("%Y-%m-%dT%H:%M:%S");

			var x = d3.scaleTime().range([0, width]),
				y = d3.scaleLinear().range([height, 0]),
				z = d3.scaleOrdinal(d3.schemeCategory10);

			/* var line = d3.line()
				// .defined(function (d) { return d.avg; }) // https://github.com/d3/d3-shape/blob/master/README.md#line_defined
				// .curve(d3.curveLinear)
				// .curve(d3.curveMonotoneX)
				// .curve(d3.curveBasis)
				// .curve(d3.curveStep)
				// .curve(d3.curveStepAfter)
				.x(function(d) { return x(d.period); })
				.y(function(d) { return y(d.avg); }); */

			var onDataLoaded = function (error, data, update) {

				if (error) return; // throw error; // todo: log error

				data.beginDate = d3.isoParse(data.beginDate);
				data.endDate = d3.isoParse(data.endDate);

				for (var i = 0; i < data.inputs.length; i++) {
					// console.log(data.inputs[i].inputNo, ":", data.inputs[i].values.length);
					for (var j = 0; j < data.inputs[i].values.length; j++) {
						var value = data.inputs[i].values[j];
						value.period = d3.isoParse(value.period);
					}
				}

				var x_domain = [data.beginDate, data.endDate];
				// var x_domain = d3.extent(data.inputs[0].values, function (d) { return d.period; });

				var y_domain = [
					d3.min(data.inputs, function (i) { return d3.min(i.values, function (d) { return d.min; }) }) || 0.0,
					d3.max(data.inputs, function (i) { return d3.max(i.values, function (d) { return d.max; }) }) || 0.0 * 1.1
				];

				if (options.alwaysShowZero) {
					y_domain[0] = Math.min(y_domain[0], 0.0);
					y_domain[1] = Math.max(y_domain[1], 0.0);
				}

				var z_domain = data.inputs.map(function (c) { return c.inputNo; });

				x = x.domain(x_domain);
				y = y.domain(y_domain);
				z = z.domain(z_domain);

				var line = d3.line()
					.curve(d3.curveMonotoneX)
					.x(function(d) { return x(d.period); })
					.y(function(d) { return y(d.avg); });

				var area = d3.area()
					.curve(d3.curveMonotoneX)
					.x(function (d) { return x(d.period); })
					.y0(function (d) { return y(d.min); })
					.y1(function (d) { return y(d.max); });

				// console.log("x.domain:", x_domain.map(function (x) { return x.toLocaleString(); }));
				// console.log("y.domain:", y_domain);
				// console.log("z.domain:", z_domain);

				var mousemove = function () {
					var x0 = x.invert(d3.mouse(this)[0]);

					g.selectAll(".area").data().forEach(function(input, i) {

						var valueIndex = bisectDate(input.values, x0, 1),
							d0 = input.values[valueIndex - 1],
							d1 = input.values[valueIndex],
							d = x0 - d0.period > d1.period - x0 ? d1 : d0;

						g.select(".focus-line")
							.attr("transform", "translate(" + x(d.period) + ", 0)")
							.select("text").html(formatDateTime(d.period));

						g.select(".focus-" + input.inputNo)
							.attr("transform", "translate(" + x(d.period) + "," + y(d.avg) + ")")
							.select("text").text(formatValue(d.avg));
					});
				};

				if (update) {
					var t = svg.transition().duration(300);

					// x axis
					t.select(".axis--x")
						.attr("transform", "translate(0," + height + ")")
						.call(d3.axisBottom(x).ticks(24));

					// vertical lines
					g.selectAll("g.axis--x g.tick line.tick-ext")
						.remove();
					g.selectAll("g.axis--x g.tick")
						.append("line")
						.attr("class", "tick-ext")
						.attr("x1", 0.5)
						.attr("y1", 0)
						.attr("x2", 0.5)
						.attr("y2", -height);
					
					// y axis
					t.select(".axis--y")
						.call(d3.axisLeft(y).ticks(12));

					// horizontal lines
					g.selectAll("g.axis--y g.tick line.tick-ext")
						.remove();
					g.selectAll("g.axis--y g.tick")
						.append("line")
						.attr("class", "tick-ext")
						.attr("x1", 0)
						.attr("y1", 0.5)
						.attr("x2", width)
						.attr("y2", 0.5);

					// inputs
					g.selectAll(".input")
						.data(data.inputs)
						.enter().append("g")
						.attr("class", "input");

					// change the area
					g.selectAll(".area")
						.data(data.inputs)
						.attr("d", function (d) { return area(d.values); })
						.style("fill", function (d) { return z(d.inputNo); })
						.transition().duration(100);

					// change the line
					g.selectAll(".line")   
						.data(data.inputs)
						.attr("d", function (d) { return line(d.values); })
						.style("stroke", function (d) { return z(d.inputNo); })
						.transition().duration(100);

				} else {

					// x axis
					g.append("g")
						.attr("class", "axis axis--x")
						.attr("transform", "translate(0," + height + ")")
						.call(d3.axisBottom(x).ticks(24));

					// vertical lines
					g.selectAll("g.axis--x g.tick")
						.append("line")
						.attr("class", "tick-ext")
						.attr("x1", 0.5)
						.attr("y1", 0)
						.attr("x2", 0.5)
						.attr("y2", -height);

					// y axis
					g.append("g")
						.attr("class", "axis axis--y")
						.call(d3.axisLeft(y).ticks(12))
						.append("text")
						.attr("transform", "rotate(-90)")
						.attr("y", 7)
						.attr("dy", "0.71em")
						.attr("fill", "#999")
						.text("Temperature, ºC");

					// horizontal lines
					g.selectAll("g.axis--y g.tick")
						.append("line")
						.attr("class", "tick-ext")
						.attr("x1", 0)
						.attr("y1", 0.5)
						.attr("x2", width)
						.attr("y2", 0.5);

					var gs = g.selectAll(".input")
						.data(data.inputs)
						.enter().append("g")
						.attr("class", "input");

					gs.append("path")
						.attr("class", "area")
						.attr("d", function (d) { return area(d.values); })
						.style("fill", function (d) { return z(d.inputNo); });

					gs.append("path")
						.attr("class", "line")
						.attr("d", function (d) { return line(d.values); })
						.style("stroke", function (d) { return z(d.inputNo); });

					gs.append("text")
						.datum(function (d) { return { inputNo: d.inputNo, name: d.name, value: d.values[d.values.length - 1] }; })
						.attr("transform", function (d) { return "translate(" + x(d.value.period) + "," + y(d.value.avg) + ")"; })
						.attr("x", 5.0)
						.attr("dy", "0.3em")
						.style("font", "10px monospace")
						.style("fill", function (d) { return z(d.inputNo); })
						.text(function (d) { return d.name; });

					// focus line
					var focuslLine = g.append("g")
						.attr("class", "focus-line")
						.style("display", "none");

					focuslLine.append("line")
						.attr("x1", 0)
						.attr("y1", 0)
						.attr("x2", 0)
						.attr("y2", height);

					focuslLine.append("text")
						.attr("dx", 7);

					// focus circles
					var focus = g.selectAll(".focus")
						.data(data.inputs)
						.enter().append("g")
						.attr("class", function (d) { return "focus focus-" + d.inputNo; })
						.style("display", "none");

					focus.append("circle")
						.attr("r", 3.5)
						.style("stroke", function (d) { return z(d.inputNo); });

					focus.append("text")
						.attr("x", 7)
						.attr("dy", "-0.75em");

					// overlay
					g.append("rect")
						.attr("class", "overlay")
						.attr("width", width)
						.attr("height", height)
						.on("mouseover", function () { focuslLine.style("display", null); focus.style("display", null); })
						.on("mouseout", function () { focuslLine.style("display", "none"); focus.style("display", "none"); })
						.on("mousemove", mousemove);
				}
			};

			d3.json(getDataUrl(),
				function(error, data) {
					onDataLoaded(error, data, false);
				}
			);

			var interval = setInterval(
				function() {
					d3.json(getDataUrl(),
						function(error, data) {
							onDataLoaded(error, data, true);
						});
				},
				15000);
		})(window.d3);
	</script>

}
