[Unit]
    Description=CMon

    [Service]
    WorkingDirectory=/var/cmon
    ExecStart=/usr/bin/dotnet /var/cmon/CMon.dll
    Restart=always
    RestartSec=10
    SyslogIdentifier=dotnet-cmon
    User=blackish
    Environment=ASPNETCORE_ENVIRONMENT=Production 

    [Install]
    WantedBy=multi-user.target

