@{
    ViewData["Title"] = "История изменений";
}

<h2>@ViewData["Title"]</h2>

<h3 id="0.0.1.0"><a href="#0.0.1.0">0.0.1.0</a> <small>2017-02</small></h3>

<ul>
	<li>Мониторинг температурных датчиков GSM контроллеров CCU825 и CCU422, производимых компанией RADS Electronics.</li>
</ul>
