@model CMon.ViewModels.Device.AddDeviceViewModel

@{
	ViewData["Title"] = "Add Device";
}


<div class="modal-content modal-md center-block">
	<div class="modal-header">
		<h4 class="modal-title">@ViewData["Title"]</h4>
	</div>
	<div class="modal-body">

		<form asp-controller="Device" asp-action="Add" method="post" class="form-horizontal">
			
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group">
				<label asp-for="Imei" class="col-md-4 control-label"></label>
				<div class="col-md-8">
					<input asp-for="Imei" class="form-control" />
					<span asp-validation-for="Imei" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="Username" class="col-md-4 control-label"></label>
				<div class="col-md-8">
					<input asp-for="Username" class="form-control" />
					<span asp-validation-for="Username" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="Password" class="col-md-4 control-label"></label>
				<div class="col-md-8">
					<input asp-for="Password" class="form-control" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-md-offset-4 col-md-8">
					<button type="submit" class="btn btn-primary">Add</button>
				</div>
			</div>

		</form>

	</div>
</div>

@section scripts {
	<script>
			$(function() {
				$("#Imei").focus();
			});
	</script>

	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}