@model CMon.ViewModels.Device.DeviceViewModel

@{
	ViewData["Title"] = "#" + Model.Id;
}

<div class="row">
	<div class="col-md-12">
		<i class="loading-indicator pull-right fa fa-circle-o-notch fa-spin fa-fw"></i>
		<div class="btn-toolbar hours" role="toolbar">
			<div class="btn-group btn-group-sm" role="group">
				<button type="button" class="btn btn-default">1h</button>
				<button type="button" class="btn btn-default">2h</button>
				<button type="button" class="btn btn-default">4h</button>
				<button type="button" class="btn btn-default">8h</button>
				<button type="button" class="btn btn-default">12h</button>
			</div>
			<div class="btn-group btn-group-sm" role="group">
				<button type="button" class="btn btn-default">1d</button>
				<button type="button" class="btn btn-default">2d</button>
				<button type="button" class="btn btn-default">3d</button>
			</div>
			<div class="btn-group btn-group-sm" role="group" style="margin-right: 5px;">
				<button type="button" class="btn btn-default">1w</button>
			</div>
			<div class="input-group input-group-sm col-sm-2">
				<input type="text" class="form-control" id="from" value="now-1h">
				<div class="input-group-btn"></div>
				<input type="text" class="form-control" id="to" value="now">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-refresh"></span>
					</button>
				</div>
			</div>
		</div>
		<div id="chart" data-device-id="@Model.Id"></div>
	</div>
</div>
