@model CMon.ViewModels.Device.DeviceViewModel

@{
	ViewData["Title"] = "#" + Model.Id;
}

@section navbar {
	<ul class="nav navbar-nav navbar-right">
		<li>
			<a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#time-range" role="button" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Today <span class="caret"></span>
			</a>
		</li>
	</ul>
}

<div id="time-range" class="row collapse">
	<div class="col-md-6">
		
	</div>
	<div class="col-md-6">
		Quick ranges
		Last 2 days
		Last 7 days
		Last 30 days
		Last 60 days
		Last 6 months
		Last 1 year
		Last 2 years
		Last 5 years
		Yesterday
		Day before yesterday
		This day last week
		Previous week
		Previous month
		Previous year
		Today
		Today so far
		This week
		This week so far
		This month
		This year
		Last 5 minutes
		Last 15 minutes
		Last 30 minutes
		Last 1 hour
		Last 3 hours
		Last 6 hours
		Last 12 hours
		Last 24 hours
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<i class="loading-indicator pull-right fa fa-circle-o-notch fa-spin fa-fw"></i>
		<div class="btn-toolbar hours" role="toolbar">
			<div class="btn-group btn-group-sm" role="group">
				<button type="button" class="btn btn-default">1h</button>
				<button type="button" class="btn btn-default">2h</button>
				<button type="button" class="btn btn-default">4h</button>
				<button type="button" class="btn btn-default">8h</button>
				<button type="button" class="btn btn-default">12h</button>
			</div>
			<div class="btn-group btn-group-sm" role="group">
				<button type="button" class="btn btn-default">1d</button>
				<button type="button" class="btn btn-default">2d</button>
				<button type="button" class="btn btn-default">3d</button>
			</div>
			<div class="btn-group btn-group-sm" role="group" style="margin-right: 5px;">
				<button type="button" class="btn btn-default">1w</button>
			</div>
			<div class="input-group input-group-sm col-sm-2">
				<input type="text" class="form-control" id="from" value="now-1h">
				<div class="input-group-btn"></div>
				<input type="text" class="form-control" id="to" value="now">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-refresh"></span>
					</button>
				</div>
			</div>
		</div>
		<div id="chart" data-device-id="@Model.Id"></div>
	</div>
</div>
